@import "normalize.css/normalize.css";
@import "../settings/index";
@import "../tools/index";
@import "../common/index";

@include block('app', 'component') {
  min-height: 100%;
  color: $app-text-color;
  background: $app-background;

  @include media-query(md-and-up) {
    width: 100vw;
  }

  @include element('wrap') {
    backface-visibility: hidden;
    min-height: 100%;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
  }
}
