@import "../settings/index";
@import "../tools/index";

$bem-use-namespaces: true;

@include block('bottom-sheet', 'component') {
  align-self: flex-end;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  flex: 1 0 100%;
  margin: 0 !important;
  overflow: visible;
  transition: .4s get($transition, 'swing');

  @include modifier('inset') {
    @include container;
    overflow: hidden;
    padding: 0;
    border-top: {
      left-radius: $radius-xlarge;
      right-radius: $radius-xlarge;
    }
  }

  &:not(&_inset) {
    min-width: 100%;

    @include media-query($mobile-breakpoint) {
      max-width: none;
    }
  }
}

$bem-use-namespaces: false;
