@import "../settings/index";
@import "../tools/index";

@include block('page', 'component') {
  > *:last-child {
    margin-bottom: 0 !important;
  }

  > * {
    margin-bottom: $indent-medium;
  }

  @include modifier('indent-top') {
    padding-top: $indent-xlarge;

    @include media-query(md-and-down) {
      padding-top: $indent-medium;
    }
  }

  @include modifier('indent-bottom') {
    padding-bottom: $indent-xlarge;

    @include media-query(md-and-down) {
      padding-bottom: $indent-medium;
    }
  }

  @include element('headline') {
    @include container;
  }

  @include element('body') {
    @include container;
  }

  @include element('main') {
    padding: {
      left: $indent-xlarge / 2;
      right: $indent-xlarge / 2;
    };

    @include media-query(md-and-up) {
      flex-grow: 1;
    }
  }

  @include element('aside') {
    padding: {
      left: $indent-xlarge / 2;
      right: $indent-xlarge / 2;
    };

    @include modifier('bordered') {
      border-left: 1px solid $border-color;
    }
  }

  @include element('row') {
    @include row;
    flex-wrap: nowrap;
    margin: {
      left: -$indent-xlarge / 2;
      right: -$indent-xlarge / 2;
    };
  }

  @include element('preheader') {
    @include container;
    margin-bottom: 0;

    @include media-query(md-and-up) {
      margin-top: -$indent-medium * 2;
      margin-bottom: $indent-small;
    }
  }
}
