@import "../../settings/index";
@import "../../tools/index";

$button-background-color: white;
$button-text-color: $dark-color;
$button-border-color: transparentize($dark-color, .85);
$button-disabled-color: $disabled-color;
$button-disabled-text-color: $gray-dark-color;
