// colors
$white-color: white;
$dark-color: #081935;
$red-color: #ff162e;
$blue-color: #3495db;
$blue-light-color: #eaf7ff;
$blue-dark-color: #03012e;
$blue-darkest-color: #05081E;
$yellow-color: #ffdd17;
$yellow-light-color: #fff2a4;
$yellow-dark-color: #ffc107;
$green-color: #2bb76b;
$orange-color: #ff9600;

// gray colors
$gray-color: #cdd0d5;
$gray-light-color: #ebedf0;
$gray-lightest-color: #f3f5f9;
$gray-dark-color: #9097a3;

// theme colors
$primary-color: $blue-color                 !default;
$secondary-color: $blue-color               !default;
$accent-color: $red-color                   !default;
$error-color: $red-color                    !default;
$success-color: $green-color                !default;
$info-color: $blue-light-color              !default;
$warning-color: $yellow-dark-color          !default;

// text colors
$primary-text: $dark-color                 !default;
$secondary-text: $gray-dark-color           !default;
$link-text: $blue-color                     !default;
$border-color: $gray-color                  !default;
$disabled-color: $gray-lightest-color       !default;

// text color states
$link-text-hovered: darken($blue-color, 10)  !default;

// theme object
$themes: (
  primary: $primary-color,
  secondary: $secondary-color,
  accent: $accent-color,
  error: $error-color,
  success: $success-color,
  info: $info-color,
  warning: $warning-color,
  gray: $gray-color,
  gray-light: $gray-light-color,
  gray-dark: $gray-dark-color,
  white: $white-color,
  black: $dark-color
);

/** App */
$app-background: $white-color;
$app-text-color: $primary-text;
$app-text-color-disabled: $secondary-text;
$app-text-color-link: $link-text;

/** Loading */
$loading-circle-colors: ( $primary-color, $accent-color, $secondary-color, $success-color, $info-color );

/** Cards */
$cards-background-color: $white-color;

/** Switch */
$switch-track-inactive: $gray-dark-color;
$switch-thumb-inactive: $white-color;
$switch-track-disabled: $gray-color;
$switch-thumb-disabled: $white-color;

/** Text-field */
$text-field-background: $white-color;
$text-field-background-mobile: $white-color;
$text-field-background-mobile-white: $white-color;
$text-field-placeholder-color: $gray-dark-color;
$text-field-placeholder-color-focus: $gray-dark-color;

/** Chip */
$chip-background: $gray-light-color;
$chip-color: $primary-text;
$chip-outline-color: $primary-text;

/** Lists */
$list-action-text-font-color: $gray-color;

/** Dividers */
$divider-color: $gray-light-color;

/** Toasts */
$toast-color: #fff;
$toast-background-color: $secondary-color;
